/node_modules
/public/hot
/public/storage
/public/_dist/admin/css/app.css
/public/_dist/admin/js/app.js
/public/_dist/admin/app-assets/css
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
